<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.min.css">
        <script>
            var BASE_URL = "";
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3 class="text-muted">Title</h3>
            </div>

            <div class="row">
                <div id="content" class="col-lg-6">
                    <table id="plan-table" class="table"></table>
                </div>
            </div>

            <div class="footer">
                <p><a href="tests">Unit Tests</a></p>
            </div>
        </div>
        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="scripts/simpleclass.js"></script>
        <script src="scripts/main.js"></script>
</body>
</html>
